<ng-container *ngIf="products.length != 0">
    <div class="card-table">
        <div class="cart-product">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col"> Sr. No </th>
                        <th scope="col"> Product Name </th>
                        <th scope="col"> Product Image </th>
                        <th scope="col"> Description </th>
                        <th scope="col"> Price </th>
                        <th scope="col"> Quantity </th>
                        <th scope="col"> Total </th>
                        <th scope="col"> Action </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of products; let i = index">
                        <td> {{i+1}} </td>
                        <td> {{item.title}} </td>
                        <td> <img src="{{item.image}}" alt={{item.title}} height="100px" width="100px"> </td>
                        <td> {{item.description}} </td>
                        <td> {{item.price | currency: '&#8369;' : 'code'}} </td>
                        <td> 
                            <a id="minmax" type="button" class="btn" (click) = "dec(item)"><i class="fa fa-minus"></i></a>
                            <input id="qty" type="number" min="1" [(ngModel)] = "item.quantity" (change)="updateQty(item)">               
                            <a id="minmax" type="button" class="btn" (click) = "inc(item)"><i class="fa fa-plus"></i></a>
                        </td>
                        <td> {{item.total | currency: '&#8369;' : 'code'}} </td>
                        <td>
                            <button class="btn btn-danger" (click)="removeItem(item)"> <i class="fas fa-trash-alt"></i></button>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td><button class="btn btn-primary" type="button" routerLink="/product">Shop_More</button></td>
                        <td></td>
                        <td><strong>Grand Total: {{grandTotal | currency: '&#8369;' : 'code'}}</strong></td>
                        <td><button class="btn btn-success" type="button">Check_Out</button></td>
                        <td><button class="btn btn-danger" (click)="emptyCart()">Empty_Cart</button></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="products.length == 0">
    <div class="container">
        <div class="center">
            <h1 class="card-title"> My Cart </h1>
            <img src="{{image_url}}/cart.png" alt="">
            <h4> Your cart is empty! </h4>
            <h5> Add item to it now. </h5>
            <button class = "btn btn-primary" routerLink="/product"> Shop Now </button>
        </div>
    </div>
</ng-container>


