<div class="row">
    <div class="col-md-2"><br>
        <h4>Delivery Information</h4>
        <ng-container *ngIf="visibility">
            <div class="mb-3">
                <label for="fullname">Full Name</label><br/>
                <input disabled placeholder="{{firstName}} {{middleName}} {{lastName}}" type="text" [(ngModel)]="fullname" id="fullname" aria-describedby="emailHelp">
             </div>
    
            <div class="form-group mb-3">
              <div class="form-group mb-3">
                  <label for="mobilenumber">Mobile Number</label><br/>
                  <input disabled placeholder="{{mobile}}" type="text" [(ngModel)]="mobile" id="mobilenumber" aria-describedby="emailHelp">
              </div>
          </div>
          <div class="form-group mb-3">
              <div class="form-group mb-3">
                  <label for="housestreet">House No & Street</label><br>
                  <input type="text" [(ngModel)]="houseStreet" id="housestreet" aria-describedby="emailHelp" placeholder="House No & Street">
                </div>
            </div>
            <div class="form-group mb-3">
                <div class="form-group mb-3">
                  <label for="barangay">Barangay</label><br>
                  <input type="text" [(ngModel)]="barangay" id="barangay" aria-describedby="emailHelp" placeholder="Barangay">
                </div>
            </div>
            <div class="form-group mb-3">
                <div class="form-group mb-3">
                  <label for="city">City</label><br>
                  <input type="text" [(ngModel)]="city" id="city" aria-describedby="emailHelp" placeholder="City">
              </div>
          </div>
          <button type="submit" class="btn btn-primary" (click) = save()>Confirm</button>  
    </ng-container>
    <ng-container *ngIf="!visibility">
        <h6> Full Name:</h6>
        <input disabled type="text" value="{{firstName}} {{middleName}} {{lastName}}">
        <h6> Mobile Number:<br></h6>
        <input disabled type="text" value="{{mobile}}">
        <h6> House No & Street:<br></h6>
        <input disabled type="text" value="{{houseStreet}}">
        <h6> Barangay: </h6>
        <input disabled type="text" value="{{barangay}}">
        <h6> City: </h6>
        <input disabled type="text" value="{{city}}">
    </ng-container>
    </div>
  
    <div class="col-md-10"><br><br>
        <h4 class="OL">Order Lists</h4>
<ng-container *ngIf="products.length != 0">
    <div id="cardtable" class="card-table">
        <div class="cart-product">
            <table class="tablecheck">
                <thead class="tbhead">
                    <tr>
                        <th scope="col"> No &nbsp; &nbsp; </th>
                        <th scope="col"> Product Name &nbsp; </th>
                        <th scope="col"> Product Image &nbsp;</th>
                        <th scope="col"> Price &nbsp; </th>
                        <th scope="col"> Quantity &nbsp;</th>
                        <th scope="col"> Total &nbsp;</th>
                    </tr>
                </thead>
                <tbody>  
                    <tr *ngFor="let item of products; let i = index">
                        <td> {{i+1}} </td>
                        <td> {{item.title}} </td>
                        <td> <img src="{{item.image}}" alt={{item.title}} height="100px" width="100px"> </td>
                        <td> {{item.price | currency: '&#8369;' : 'code'}} </td>
                        <td>{{item.itemQuantity}}</td>
                        <td> {{item.itemTotalPrice | currency: '&#8369;' : 'code'}} </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><strong>Grand Total:</strong></td>
                        <td><strong> {{grandTotal | currency: '&#8369;' : 'code'}}</strong></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><button class="btn btn-primary" (click)="placeOrder()" [disabled]="visibility">Place Order</button></td>
                        <p *ngIf = "visibility"><i> Confirm Delivery Information </i></p>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</ng-container>
    </div>
</div>