<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>User Profile</h1>
                </div>
                <form >
                        <div class="mb-3">
                            <label for="username">Username</label>
                            <input disabled type="text" class="form-control" placeholder="{{userName}}" id="username" aria-describedby="emailHelp">
                          </div>
                          <div class="mb-3">
                            <label for="password">Password</label>
                            <input disabled type="text" class="form-control" placeholder="{{passWord}}" id="password" aria-describedby="emailHelp">
                          </div>
                          <div class="mb-3">
                              <label for="firstname">First Name</label>
                              <input disabled type="text" class="form-control" placeholder="{{firstName}}" id="fullname" aria-describedby="emailHelp">
                           </div>
                          <div class="mb-3">
                              <label for="middlename">Middle Name</label>
                              <input disabled type="text" class="form-control" placeholder="{{middleName}}" id="middlename" aria-describedby="emailHelp">
                          </div>
                          <div class="mb-3">
                              <label for="lastname">Last Name</label>
                              <input disabled type="text" class="form-control" placeholder="{{lastName}}" id="lastname" aria-describedby="emailHelp">
                          </div>
                          <div class="form-group mb-3">
                              <label for="email">Email</label>
                              <input disabled type="text" class="form-control" placeholder="{{eMail}}" id="email" aria-describedby="emailHelp">
                              
                          </div>
                          <div class="form-group mb-3">
                            <label for="mobile">Mobile Number</label>
                            <input disabled type="text" class="form-control" placeholder="{{mobile}}" id="mobile" aria-describedby="emailHelp">
                        </div>
                        <br>
                </form>
            </div>
        </div>
    </div>
</div>