<mat-nav-list>
    <div class="logo py-4">
      <img src="./assets/logo.svg" alt="Company Logo" />
    </div>
    <mat-divider></mat-divider>
    <h1 matSubheader class="mt-2">STUDENT DASHBOARD</h1>
  
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/information">
      <mat-icon>account_box</mat-icon> Personal Information
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/details">
      <mat-icon>view_list</mat-icon> Personal Details
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/courses"> 
      <mat-icon>school</mat-icon> Courses Marks </a>

  </mat-nav-list>