<nav class="navbar navbar-light bg-primary">
    <div class="container-fluid">
        <h1>Product Dashboard</h1>
        <div class="d-flex">
            <button (click)="clickAddProduct()" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-success">Add Product</button>
            <button  routerLink="../topproducts" type="button" class="btn btn-success">Best Selling Poducts</button>
            <button  routerLink="../admin-dashboard" type="button" class="btn btn-success">Manage Users</button>
        </div>
    </div>
</nav>

<table class="table mt-3">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Title</th>
            <th scope="col">Price</th>
            <th scope="col">Description</th>
            <th scope="col">Category</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr  *ngFor="let data of productData">
            <td >{{data.name}}</td>
            <td>{{data.title}}</td>
            <td>{{data.price}}</td>
            <td>{{data.description}}</td>
            <td>{{data.category}}</td>
            
            
            <td>
                <button (click)="onEdit(data)" class="btn btn-info" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">Edit</button>
                <button (click)="deleteProduct(data)" class="btn btn-danger mx-3">Delete</button>
            </td>
        </tr>
    </tbody>
</table>

 <!-- Modal -->
 <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Product Details</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>


        <div class="modal-body">
            <form [formGroup]="formValue">
                <div class="form-group mb-3">
                  <label for="exampleInputUsername1">Name</label>
                  <input type="text" formControlName="name" class="form-control" id="exampleInputUsername1" aria-describedby="emailHelp" placeholder="Product name">
                </div>
                
                <div class="form-group mb-3">
                  <label for="exampleInputPassword1">Title</label>
                  <input type="text" formControlName="title" class="form-control" id="exampleInputPassword1" placeholder="Title">
                </div>
                <div class="form-group mb-3">
                    <label for="exampleInputFirstName1">Price</label>
                    <input type="text" formControlName="price" class="form-control" id="exampleInputFirstName1" aria-describedby="emailHelp" placeholder="price">
                 </div>
                <div class="form-group mb-3">
                    <label for="exampleInputMiddleName1">Description</label>
                    <input type="text" formControlName="description" class="form-control" id="exampleInputMiddleName1" aria-describedby="emailHelp" placeholder="Description">
                </div>
                <div class="form-group mb-3">
                    <label for="exampleInputLastName1">Category</label>
                    <input type="text" formControlName="category" class="form-control" id="exampleInputLastName1" aria-describedby="emailHelp" placeholder="Category">
                </div>
                <div class="form-group mb-3">
                    <label for="exampleInputEmail1">Image</label>
                    <input type="text" formControlName="image" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Image">
                </div>
              </form>
        </div>
        <div class="modal-footer">
          <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" *ngIf="showAdd" (click)="postProductDetails()" class="btn btn-primary">Add</button>
          <button type="button" *ngIf="showUpdate" (click)="updateProductDetails()" class="btn btn-primary">Update</button>
        </div>
      </div>
    </div>
  </div>

  <h1>Top 5 Products</h1>
  <ng-container *ngIf="productList.length != 0">
    <ng-container *ngFor="let item of productList | topFivefilter:5">
    <div class="card-table">
        <div class="cart-product">
            <table class="table">
                <thead>
                    <tr class="tbhead">
                        <th scope="col"> No. </th>
                        <th scope="col"> Name </th>
                        <th scope="col"> Image </th>
                        <th scope="col"> Description </th>
                        <th scope="col"> Price </th>
                        <th scope="col"> Item Sold </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="tbbody" *ngFor="let item of productList; let i = index">
                        <td> {{i+1}} </td>
                        <td> {{item.title}} </td>
                        <td> <img src="{{item.image}}" alt={{item.title}} height="100px" width="100px"> </td>
                        <td> {{item.description}} </td>
                        <td> {{item.price | currency: '&#8369;' : 'code'}} </td>
                        <td> {{item.totalItemSale}} </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</ng-container>
</ng-container>
