<!-- PRE LOADER -->
<section class="preloader">
  <div class="spinner">
    <span class="spinner-rotate"></span>
  </div>
</section>

<!-- MENU -->
<section class="navbar custom-navbar navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button
        class="navbar-toggle"
        data-toggle="collapse"
        data-target=".navbar-collapse"
      >
        <span class="icon icon-bar"></span>
        <span class="icon icon-bar"></span>
        <span class="icon icon-bar"></span>
      </button>

      <!-- lOGO TEXT HERE -->
      <a class="navbar-brand">SSIT</a>
    </div>

    <!-- MENU LINKS -->
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-nav-first">
        <li><a href="#top" class="smoothScroll">Home</a></li>
        <li><a href="#announcement" class="smoothScroll">Announcement</a></li>
        <li><a href="#team" class="smoothScroll">Our Teachers</a></li>
        <li><a href="#courses" class="smoothScroll">News</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="#"><i class="fa fa-sign-in"></i>Login</a>
        </li>
      </ul>
    </div>
  </div>
</section>

<!-- HOME -->
<section id="home">
  <div class="row">
    <div class="owl-carousel owl-theme home-slider">
      <div class="item item-first">
        <div class="caption">
          <div class="container">
            <div class="col-md-6 col-sm-12">
              <h1>SSIT Learning Education Center</h1>
              <h3>
                Our official SSIT org website, designed to fit in our industry needs
                supporting all-round with latest technologies.
              </h3>
              <a
                href="#announcement"
                class="section-btn btn btn-default smoothScroll"
                >Discover more</a
              >
            </div>
          </div>
        </div>
      </div>

      <div class="item item-second">
        <div class="caption">
          <div class="container">
            <div class="col-md-6 col-sm-12">
              <h1>Start your journey and meet with our top performer professor to help build your future.</h1>
              <h3>
                Our best instructor are here to built the future you dreamed of in partnership with technology
                leaders and are designed to meet industry demands.
              </h3>
              <a
                href="#team"
                class="section-btn btn btn-default smoothScroll"
                >Take a course</a
              >
            </div>
          </div>
        </div>
      </div>

      <div class="item item-third">
        <div class="caption">
          <div class="container">
            <div class="col-md-6 col-sm-12">
              <h1>Efficient Learning Methods</h1>
              <h3>
                Learning is FUN! This is the official website for all SSIT students with their parents, instructors and organization.
              </h3>
              <a
                href="/login"
                class="section-btn btn btn-default smoothScroll"
                >Get Started</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ANNOUNCEMENT -->
<section id="announcement">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-4">
        <div class="feature-thumb">
          <span>01</span>
          <h3>New Announcement!</h3>
          <p>
            For all fresh men, please proceed to registrar office for your enrollment. Thank you!
          </p>
        </div>
      </div>

      <div class="col-md-4 col-sm-4">
        <div class="feature-thumb">
          <span>02</span>
          <h3>Announcement!</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing eiusmod tempor
            incididunt ut labore et dolore magna.
          </p>
        </div>
      </div>

      <div class="col-md-4 col-sm-4">
        <div class="feature-thumb">
          <span>03</span>
          <h3>Announcement!</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing eiusmod tempor
            incididunt ut labore et dolore magna.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- PROF -->
<section id="team">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="section-title">
          <h2>Professors <small>Meet Professional SSIT Instructors</small></h2>
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="team-thumb">
          <div class="team-image">
            <img
              src="assets/images/author-image1.jpg"
              class="img-responsive"
              alt=""
            />
          </div>
          <div class="team-info">
            <h3>Mark Wilson</h3>
            <span>I love Teaching.</span>
          </div>
          <ul class="social-icon">
            <li>
              <a
                href="#"
                class="fa fa-facebook-square"
                attr="facebook icon"
              ></a>
            </li>
            <li><a href="#" class="fa fa-twitter"></a></li>
            <li><a href="#" class="fa fa-instagram"></a></li>
          </ul>
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="team-thumb">
          <div class="team-image">
            <img
              src="assets/images/author-image2.jpg"
              class="img-responsive"
              alt=""
            />
          </div>
          <div class="team-info">
            <h3>Catherine Smith</h3>
            <span>Education is the key!</span>
          </div>
          <ul class="social-icon">
            <li><a href="#" class="fa fa-google"></a></li>
            <li><a href="#" class="fa fa-instagram"></a></li>
          </ul>
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="team-thumb">
          <div class="team-image">
            <img
              src="assets/images/author-image3.jpg"
              class="img-responsive"
              alt=""
            />
          </div>
          <div class="team-info">
            <h3>Jessie Ca</h3>
            <span>I like SSIT organization.</span>
          </div>
          <ul class="social-icon">
            <li><a href="#" class="fa fa-twitter"></a></li>
            <li><a href="#" class="fa fa-envelope-o"></a></li>
            <li><a href="#" class="fa fa-linkedin"></a></li>
          </ul>
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="team-thumb">
          <div class="team-image">
            <img
              src="assets/images/author-image4.jpg"
              class="img-responsive"
              alt=""
            />
          </div>
          <div class="team-info">
            <h3>Andrew Berti</h3>
            <span>Learning is fun!</span>
          </div>
          <ul class="social-icon">
            <li><a href="#" class="fa fa-twitter"></a></li>
            <li><a href="#" class="fa fa-google"></a></li>
            <li><a href="#" class="fa fa-behance"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- News -->
<section id="courses">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="section-title">
          <h2>
            Latest News
            <small>Be updated to the latest trend within SSIT</small>
          </h2>
        </div>

        <div class="owl-carousel owl-theme owl-courses">
          <div class="col-md-4 col-sm-4">
            <div class="item">
              <div class="courses-thumb">
                <div class="courses-top">
                  <div class="courses-image">
                    <img
                      src="assets/images/courses-image1.jpg"
                      class="img-responsive"
                      alt=""
                    />
                  </div>
                  <div class="courses-date">
                    <span><i class="fa fa-calendar"></i> 10 / 02 / 2022</span>
                    <span><i class="fa fa-clock-o"></i> 3 Hours</span>
                  </div>
                </div>

                <div class="courses-detail">
                  <h3><a>Why do you need a qualification?</a></h3>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  </p>
                </div>

                <div class="courses-info">
                  <div class="courses-author">
                    <img
                      src="assets/images/author-image1.jpg"
                      class="img-responsive"
                      alt=""
                    />
                    <span>Mark Wilson</span>
                  </div>
                  <div class="courses-price">
                    <a href="#"><span>Read More</span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-4">
            <div class="item">
              <div class="courses-thumb">
                <div class="courses-top">
                  <div class="courses-image">
                    <img
                      src="assets/images/courses-image2.jpg"
                      class="img-responsive"
                      alt=""
                    />
                  </div>
                  <div class="courses-date">
                    <span><i class="fa fa-calendar"></i> 10 / 01 / 2022</span>
                    <span><i class="fa fa-clock-o"></i> 1.5 Hours</span>
                  </div>
                </div>

                <div class="courses-detail">
                  <h3><a>Our new degree program for new SSIT students</a></h3>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  </p>
                </div>

                <div class="courses-info">
                  <div class="courses-author">
                    <img
                      src="assets/images/author-image2.jpg"
                      class="img-responsive"
                      alt=""
                    />
                    <span>Jessica</span>
                  </div>
                  <div class="courses-price">
                    <a href="#"><span>Read More</span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-4">
            <div class="item">
              <div class="courses-thumb">
                <div class="courses-top">
                  <div class="courses-image">
                    <img
                      src="assets/images/courses-image3.jpg"
                      class="img-responsive"
                      alt=""
                    />
                  </div>
                  <div class="courses-date">
                    <span><i class="fa fa-calendar"></i> 10 / 05 / 2033</span>
                    <span><i class="fa fa-clock-o"></i> 2 Hours</span>
                  </div>
                </div>

                <div class="courses-detail">
                  <h3><a>Why take our graduate program?</a></h3>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  </p>
                </div>

                <div class="courses-info">
                  <div class="courses-author">
                    <img
                      src="assets/images/author-image3.jpg"
                      class="img-responsive"
                      alt=""
                    />
                    <span>Catherine</span>
                  </div>
                  <div class="courses-price">
                    <a href="#"><span>Read More</span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-4">
            <div class="item">
              <div class="courses-thumb">
                <div class="courses-top">
                  <div class="courses-image">
                    <img
                      src="assets/images/courses-image4.jpg"
                      class="img-responsive"
                      alt=""
                    />
                  </div>
                  <div class="courses-date">
                    <span><i class="fa fa-calendar"></i> 10 / 03 / 2022</span>
                    <span><i class="fa fa-clock-o"></i> 1 Hour</span>
                  </div>
                </div>

                <div class="courses-detail">
                  <h3><a>Tips to survive this new semester</a></h3>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  </p>
                </div>

                <div class="courses-info">
                  <div class="courses-author">
                    <img
                      src="assets/images/author-image1.jpg"
                      class="img-responsive"
                      alt=""
                    />
                    <span>Mark Wilson</span>
                  </div>
                  <div class="courses-price">
                    <a href="#"><span>Read More</span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-4">
            <div class="item">
              <div class="courses-thumb">
                <div class="courses-top">
                  <div class="courses-image">
                    <img
                      src="assets/images/courses-image5.jpg"
                      class="img-responsive"
                      alt=""
                    />
                  </div>
                  <div class="courses-date">
                    <span><i class="fa fa-calendar"></i> 10 / 04 / 2022</span>
                    <span><i class="fa fa-clock-o"></i> 2.5 Hours</span>
                  </div>
                </div>

                <div class="courses-detail">
                  <h3><a>SSIT New Course: Business &amp; Management</a></h3>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  </p>
                </div>

                <div class="courses-info">
                  <div class="courses-author">
                    <img
                      src="assets/images/author-image2.jpg"
                      class="img-responsive"
                      alt=""
                    />
                    <span>Jessica</span>
                  </div>
                  <div class="courses-price">
                    <a href="#"><span>Read More</span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- FOOTER -->
<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="footer-info">
          <div class="section-title">
            <h2>Headquarter</h2>
          </div>
          <address>
            <p>
              Blvd Libertad, 34 m05200 Arévalo,<br />
              SSIT main campus
            </p>
          </address>

          <ul class="social-icon">
            <li>
              <a
                href="#"
                class="fa fa-facebook-square"
                attr="facebook icon"
              ></a>
            </li>
            <li><a href="#" class="fa fa-twitter"></a></li>
            <li><a href="#" class="fa fa-instagram"></a></li>
          </ul>

          <div class="copyright-text">
            <p>Copyright &copy; 2022 Group 3 (CDP Trainees)</p>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6">
        <div class="footer-info">
          <div class="section-title">
            <h2>Contact Info</h2>
          </div>
          <address>
            <p>+0034 37483, +09 2445 322</p>
            <p><a href="mailto:youremail.co">hello@ssit.co</a></p>
          </address>

          <div class="footer_menu">
            <h2>Quick Links</h2>
            <ul>
              <li><a href="#">Career</a></li><br>
              <li><a href="#">Terms & Conditions</a></li><br>
              <li><a href="#">Refund Policy</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-12">
        <div class="footer-info newsletter-form">
          <div class="section-title">
            <h2>Newsletter Signup</h2>
          </div>
          <div>
            <div class="form-group">
              <form action="#" method="get">
                <input
                  type="email"
                  class="form-control"
                  placeholder="Enter your email"
                  name="email"
                  id="email"
                  required=""
                />
                <input
                  type="submit"
                  class="form-control"
                  name="submit"
                  id="form-submit"
                  value="Send me"
                />
              </form>
              <span><sup>*</sup> Please note - we do not spam your email.</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
